//fonts
$font-main: 'Roboto', sans-serif;
$font-secondary: 'Press Start 2P', cursive;
$font-tertiary: 'Bungee', cursive;


// Colors
// Colors text
$color-primary: #FECA1B;

// Colors background
$color-background: #2f2f2f;